{
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "extends": ["airbnb", "prettier"],
    "rules": {
      "semi": "error",
      "react/jsx-filename-extension": [0],
      "import/no-named-as-default": 0,
      "no-param-reassign": 0
    },
    "globals": {
      "localStorage": true,
      "Utils": true
    }
  }